.react-tabs__tab {
  font-size: 14px;
  text-transform: uppercase;
  padding: 1em 1.5em;
  max-height: 3pc;
  min-width: 3pc;
}
.react-tabs__tab--selected {
  border: none;
  background-color: #202020;
  color: #fff;
}
