h1,
h2,
h3,
h4,
h5,
h6 {
  border        : 0;
  font-size     : 100%;
  margin        : 0;
  padding       : 0;
  vertical-align: baseline;
  font-family   : Asar, Georgia, Times New Roman, Times, serif !important;
  letter-spacing: 0em;
  color         : rgba(0, 0, 0, 0.8);
  text-transform: none;
  text-align    : center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size  : 36px;
  font-weight: 700;
}

h3 {
  font-size  : 24px;
  font-weight: 700;
  padding    : 4px 0;
}

h5 {
  color     : rgba(0, 0, 0, 0.8);
  font-size : 18px;
  text-align: center;
}

a {
  text-decoration: none;
  color          : #000;
}

@media (min-width: 651px) and (max-width: 1200px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-weight: 400;
  }
}