@import './../../styles/variables';


$header-height: 75px;
$transistion: .3s;
$menu-toggle-color: $black;

$link-color: $black;
$link-hover-color: $white;
$link-background: $black;


.Header {
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 99;
    background-color: cornflowerblue;
    box-shadow: 0px 5px 8px #888888;
}

.Header-container {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    padding: $gutter-padding;
}

/* Logo */

.Logo {
    z-index: 100;
    display: flex;
    padding-left: $gutter-padding;
  }

.Logo-img {
    width: 100px;
}


/* Menu Toggle */

.Menu-toggle {
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    height: 2rem;
    justify-content: space-around;
    margin-right: 1em;
    width: 2rem;

    &:focus {
        outline: none;
        text-decoration: none;
    }
    span {
    width: 2rem;
    height: 0.25rem;
    background: $menu-toggle-color;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

        &:first-child {
            transform: rotate(0);
        }

        &:nth-child(2) {
            opacity: 1;
            transform: translateX(0);
        }

        &:nth-child(3) {
            transform: rotate(0);
        }
    }
}

/* Back Button */
.Backbutton {
    background: $white;
    border: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-left: auto;
}

.Backbutton-icon {
   padding-left: 5px;
}


/* Header navigation */

.Header-navigation {
    position: fixed;
    top: $header-height - $gutter-padding;
    left: 0;
    width: 50%;
    height: 0px;
    overflow: hidden;
    transition: $transistion;
    transition-delay: $transistion;
    background-color: antiquewhite; 
    

    .Navigation {
        max-width: $max-width;
        margin: 0 auto;
        display: flex;
        padding: $gutter-padding;
        
    }

    .Navigation__group {
        width: 100%;
    }

    .Navigation__item-link {
        color: $link-color;
        font-size: $font-size-large;
        text-transform: uppercase;
        padding: $gutter-padding;
        display: flex;
        border-bottom: 1px solid $gray-light;

        &:hover {
            background: $link-background;
            color: $link-hover-color;
        }

    }
}

/* open Header */
.Header--menuOpen {

    .Header-navigation {
        height: auto;
        transition-delay: 0s;
    }

    .Menu-toggle {
        span {
            &:first-child {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
                transform: translateX(20px);
            }

            &:nth-child(3) {
                transform: translateY(2px) rotate(-45deg);
            }
        }
    }
} 