.aem-Grid {
    display: block;
    width: 100%;
}

.aem-Grid::before,
.aem-Grid::after {
    display: table;
    content: " ";
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--12 {
    float: left;
    clear: none;
    width: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.cmp-carousel__content_container {
    position: relative;
    margin: auto;
}

.cmp-carousel--hero {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.aem-GridColumn {
    padding: 0 14px;
}

.cmp-carousel--hero .cmp-carousel {
    margin-bottom: 4em;
}

.cmp-carousel .cmp-carousel__item {
    animation-duration: .5s;
    animation-fill-mode: both;
}

.cmp-teaser--hero .cmp-teaser {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (min-width: 1165px) {
    .cmp-teaser--hero .cmp-teaser__image {
        height: 40pc;
        max-height: 40pc;
    }
}

.cmp-teaser--hero .cmp-teaser__image {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    height: 25pc;
    max-height: 25pc;
    overflow: hidden;
}

.cmp-teaser--hero .cmp-teaser__image .cmp-image {
    width: 100%;
    height: 100%;
}

.cmp-teaser--hero .cmp-teaser__image .cmp-image__image {
    margin-top: 0;
    margin-bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
}

meta {
    display: none;
}

@media (min-width: 1165px) {
    .cmp-teaser--hero .cmp-teaser__content {
        background-color: #fff !important;
        margin-top: -180px;
        height: 180px;
        min-height: 180px;
        float: left;
        padding-bottom: 0;
        width: 71pc;
        position: relative;
        padding-left: 28px;
        padding-right: 28px;

    }
}

.cmp-teaser--hero .cmp-teaser__content {
    flex: 1;
}

.prev,
.next {
    cursor: pointer;
    float: right;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.cmp-teaser__title-link {
    font-size: 36px;
    color: #202020;
    text-decoration: none;

}

.cmp-teaser__title-link:hover {
    text-decoration: none;
    color: #202020;
}

.cmp-teaser .cmp-teaser__title {
    font-family: Asar, Georgia, Times New Roman, Times, serif;
    margin: .5em 0;
}

.cmp-teaser .cmp-teaser__description {
    font-size: 14px;
    margin: 0;
    line-height: 1.75;
}

.cmp-teaser--hero .cmp-teaser__description,
.cmp-teaser--hero .cmp-teaser__description p,
.cmp-teaser--hero .cmp-teaser__title {
    margin-bottom: 0;
}

.cmp-teaser .cmp-teaser__action-link {
    background-color: #ffea00;
    text-transform: uppercase;
    font-size: 14px;
    padding: 1em 2.5em;
    font-weight: 600;
    color: #202020;
    float: left;
    text-decoration: none;
}

.cmp-teaser .cmp-teaser__action-container {
    margin: 1em 0;
    float: left;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 60%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

@media (min-width: 768px) {
    .offset-md-2 {
        margin-left: 11.666667%;
    }
}