.cmp-form-button {
    color         : white;
    background    : #337ab7 0 0 no-repeat padding-box;
    border        : #337ab7;
    box-sizing    : border-box;
    display       : inline-block;
    font-size     : 18px;
    font-weight   : 600;
    padding       : .75rem 1rem;
    min-width     : 180px;
    text-align    : center;
    text-transform: uppercase;
    cursor        : pointer;
}