.w100 {
    width: 100%;
}

.border-black {
    border: 1px solid black;
}

.m10 {
    margin: 10px 0 10px 0;
}


.m30 {
    margin: 30px 0 30px 0;
}

.mb5 {
    margin-bottom: 5px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml5 {
    margin-left: 5px;
}
.ml20 {
    margin-left: 20px;
}

.w225 {
    width: 225px;
}

.w250 {
    width: 250px;
}

.w-fill {
    width: -webkit-fill-available;
}

.border-dark-right {
    border-right: 1px solid black;
}

.helpText {
    font-size: 13px;
    color    : chocolate;
}