.List-wrapper {
  float: left;
  padding: 0;
}
.List-wrapper .ListItem {
  list-style: none;
  float: left;
  width: 100%;
  margin-bottom: 1rem;
  border-left: 5px solid #ebebeb;
  height: 90pt;
  padding: 0.5rem 1rem;
}
.List-wrapper .ListItem:before {
  content: none;
  position: unset;
}
.List-wrapper .ListItem-link {
  font-weight: 600;
  float: left;
  padding: 0.5rem 1rem;
  padding-left: 0rem;
}
.List-wrapper .ListItem-link:hover .ListItem-title {
  text-decoration: underline;
}
.List-wrapper .ListItem-title {
  width: 100%;
  float: left;
  font-weight: 600;
}
.List-wrapper .ListItem-date {
  width: 100%;
  float: left;
  color: #696969;
  font-size: 14px;
  font-weight: 600;
}

.List-wrapper .ListItem-description {
  width: 100%;
  float: left;
  font-size: 14px;
  font-weight: 500;
}

.ListItem-description {
  padding-top: 0rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}
